.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
**/lib
**/libs
app/tests/coverage/
.bower-*/
.idea/
dist/
bin/
doc/
releases/
plugins/
**/properties.json
*.sublime-workspace
*.sublime-grunt.cache